---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mon parcours"
				tagline="Découvrez mon parcours ainsi que mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/parcours.jpg"
					
				/>
				<br><br>
			</Hero>
			

			<section>
				<h2 class="section-title">Mon parcours</h2>
				<div class="content">
					
					<p>
						Le numérique a toujours fait partie intégrante de ma vie, que ce soit à travers les ordinateurs, les téléphones ou les tablettes. 
						Dès le lycée, ma curiosité pour leur fonctionnement et les divers domaines de l'informatique s'est éveillée, me poussant à 
						explorer et à poser de nombreuses questions.<br><br>
						Cette fascination m'a conduit à choisir l'informatique comme domaine de prédilection pour ma carrière future. 
						Aujourd'hui, en troisième année de BUT, je ne regrette absolument pas ce choix. Les formations que j'ai suivies ont
						renforcé ma passion et m'ont permis d'acquérir de solides connaissances et compétences. 
						Grâce aux nombreux projets auxquels j'ai participé, j'ai eu un aperçu concret de ce qui m'attend dans le monde professionnel, me motivant encore davantage à poursuivre dans cette voie.
				</div>
			</section>
			<br><br>
			
			<section>
				<h2 class="section-title">1ère année</h2>
				<div class="content">
					
					<p>
						Au cours de ma première année de BUT Informatique, j'ai acquis de solides bases dans le développement 
						d'applications et l'administration de systèmes informatiques. J'ai réalisé plusieurs projets pratiques, 
						tels que la création d'une calculatrice en Java et un algorithme de chiffrement en Python, qui m'ont 
						permis de développer mes compétences en programmation et en utilisation d'outils de développement.<br>Un projet marquant a été l'utilisation du Raspberry Pi, où j'ai appris à démarrer et configurer ce
						 dispositif, et à utiliser des commandes Linux pour gérer des réseaux. J'ai également participé à des 
						 projets de gestion de données, notamment en créant une base de données pour l'IUT et en manipulant des 
						 données avec PostgreSQL.<br/><br/>
						 Les projets en équipe ont été essentiels pour développer mes compétences en communication et en collaboration. 
						 Un projet notable a été la création d'un site web pour un couple de mariés, où j'ai appris à recueillir et à 
						 répondre aux besoins des clients, tout en améliorant mes compétences en HTML et CSS.<br/>
						 Enfin, j'ai exploré l'optimisation des applications informatiques en travaillant sur l'algorithme de Dijkstra, 
						 approfondissant ainsi ma compréhension des algorithmes et de leur application.<br/><br/>
						 Ainsi, j'ai acquis des compétences en développement d'applications (Java, Python), administration de systèmes (Raspberry Pi, Linux), et gestion de données (PostgreSQL). J'ai également appris à travailler en équipe et à répondre aux besoins des clients grâce à des projets pratiques variés. Mon exploration des algorithmes, notamment Dijkstra, a renforcé ma compréhension de l'optimisation des applications informatiques.
				</div>
			</section>
			<section>
				<br><br>
				<h2 class="section-title">2ème année</h2>
				<div class="content">
					
					<p> La deuxième année de mon BUT Informatique a approfondi mes compétences en développement, 
						gestion de projets et administration des systèmes. <br/> J'ai mené un projet de développement d'une application 
						de bout en bout, en utilisant des langages comme PHP, JavaScript, HTML, CSS, et SQL. Ce projet m'a
						permis d'apprendre à rédiger des cahiers des charges, à créer des user stories, et à établir des 
						exigences fonctionnelles et non fonctionnelles.<br/>
						En optimisation des applications, j'ai découvert les SPA (Single Page Applications) et les techniques 
						de responsive design, améliorant ainsi les performances et l'expérience utilisateur des sites web. <br/><br/>
						J'ai également renforcé mes compétences en virtualisation et en administration de systèmes avec 
						l'utilisation de Marionnet pour simuler des réseaux locaux.<br/><br/>
						Mon stage en développement web avec VueJS a été particulièrement formateur, m'apprenant à utiliser ce 
						framework et à gérer des bases de données avec Firebase. La communication et la gestion de projets ont
						été des compétences clés développées durant ce stage, où j'ai appris à interagir avec les clients et à
						conduire un projet de manière autonome.<br/><br/>
						Pour résumer, j'ai pu approfondir mes compétences en développement (PHP, JavaScript, VueJS), 
						gestion de projets, et administration des systèmes (virtualisation, Marionnet). 
						Le projet de développement d'une application complète a consolidé mes connaissances en 
						gestion de projets et en collaboration d'équipe, et 
						mon stage en développement web m'a permis de maîtriser VueJS et Firebase, renforçant mes compétences 
						techniques et ma capacité à gérer un projet client de manière autonome.</p>
						
				</div>
			</section>
			<section>
				<br><br>
				<h2 class="section-title">3ème année</h2>
				<div class="content">
					
					<p>
						Au cours de ma troisième année en BUT Informatique, 
						j'ai consolidé mes compétences en développement d'applications, 
						en me spécialisant principalement sur Java et en explorant le framework Spring Boot pour la 
						création d'applications web avancées. 
						<br>J'ai approfondi mes connaissances en qualité de développement en utilisant des outils tels que Jenkins
						 pour l'automatisation des tests et Docker pour la gestion des conteneurs. 
						 J'ai appliqué ces compétences lors d'un projet concret de développement d'une application web 
						 pour une communauté de passionnés de moto, où j'ai contribué à la conception du cahier des charges, 
						 à l'implémentation de fonctionnalités telles qu'un forum interactif et un système de messagerie, 
						 ainsi qu'à la gestion de la base de données avec MySQL. <br><br>Cette expérience m'a non seulement permis 
						 de renforcer mes compétences techniques, mais aussi d'améliorer ma capacité à travailler en équipe, 
						 en utilisant des outils de gestion de projet comme le diagramme de Gantt et Trello pour une collaboration
						efficace.
						<br><br>Pendant mon stage chez ClinSearch, j'ai été chaleureusement accueilli par mon tuteur qui m'a intégré 
						aux équipes IT et clinique. 
						J'ai configuré mon espace de travail avec un PC personnel et une adresse e-mail professionnelle, 
						tout en suivant une formation sur les procédures opérationnelles et les politiques de l'entreprise.
						 J'ai également débuté ma familiarisation avec WordPress et suivi une formation en visioconférence sur
						l'analyse de non-conformité.
						<br>Sous la supervision d'un administrateur systèmes et réseaux, j'ai installé WAMP pour mes tests locaux 
						avec WordPress en préparation de mon projet principal. Ce dernier a débuté avec une réunion avec mon 
						tuteur et le DSI, où j'ai reçu la charge de créer deux sites WordPress pour ClinSearch.
						 J'ai rédigé un cahier des charges basé sur les besoins du client et suivi une formation sur le RGPD avec 
						 la DPO pour garantir la conformité en matière de protection des données.
						 <br><br>L'équipe m'a accompagné à chaque étape, de l'intégration initiale à la configuration de mon environnement 
						 de travail, me permettant ainsi de m'adapter rapidement et de me préparer efficacement pour les défis à 
						 venir dans mon stage.
			</section>
			<br><br>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Bac S général, actuellement en 3 ème année de BUT Informatique.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hard Skills</h2>
				<div class="content">
					<p>HTML/CSS, Javascript, Java, PHP, PLPGSQL/SQL, Word, Excel, OpenOffice, React.js, NodeJs, 
						C/C++, Linux/Windows, Jquerry, Python, Shell, VueJS, Github, Figma, SpringBoot, Firebase
						Méthode agile, diagramme de Gantt, gestion de projet.</p>
				</div>
				<h2 class="section-title"> Soft Skills</h2>
				<div class="content">
					<p>
						Esprit d'équipe, autonomie, communication, persévérance, adaptabilité, rigueur, attentionné, organisé,
						discipliné.
					</p>
				</div>
				
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
